<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lvpi.mapper.BookSectionMapper">

    <resultMap id="BookSectionVOMap" type="top.lvpi.model.vo.BookSectionVO">
        <!-- BookSection 字段 -->
        <id column="id" property="id"/>
        <result column="book_id" property="bookId"/>
        <result column="page_num" property="pageNum"/>
        <result column="section_text" property="sectionText"/>
        <result column="create_time" property="createTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="is_deleted" property="isDeleted"/>
        
        <!-- Book 字段 -->
        <result column="title" property="title"/>
        <result column="sub_title" property="subTitle"/>
        <result column="author" property="author"/>
        <result column="publisher" property="publisher"/>
        <result column="publication_year" property="publicationYear"/>
        <result column="isbn" property="isbn"/>
        <result column="category" property="category"/>
        <result column="key_word" property="keyWord"/>
        <result column="book_summary" property="bookSummary"/>
        <result column="file_name" property="fileName"/>
        <result column="pic_url" property="picUrl"/>
    </resultMap>

    <sql id="Base_Column_List">
        bs.id, bs.book_id, bs.page_num, bs.section_text, bs.create_time, bs.modified_time, 
        bs.is_deleted,
        b.title, b.sub_title, b.author, b.publisher, b.publication_year, b.isbn, b.category, 
        b.key_word, b.summary as book_summary, b.file_name, b.pic_url
    </sql>

    <select id="selectSectionWithBookById" resultMap="BookSectionVOMap">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM lb_book_section bs
        LEFT JOIN lb_book b ON bs.book_id = b.id
        WHERE bs.id = #{id}
    </select>

    <select id="selectSectionWithBookByIsbn" resultMap="BookSectionVOMap">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM lb_book_section bs
        LEFT JOIN lb_book b ON bs.book_id = b.id
        WHERE b.isbn = #{isbn}
    </select>

    <select id="selectSectionWithBookByBookId" resultMap="BookSectionVOMap">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM lb_book_section bs
        LEFT JOIN lb_book b ON bs.book_id = b.id
        WHERE bs.book_id = #{bookId}
    </select>

</mapper> 