<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lvpi.mapper.TopicMapper">
    <select id="getBookTopicTags" resultType="top.lvpi.model.entity.Topic">
        SELECT t.*
        FROM lp_topic t
        INNER JOIN lp_book_topic bt ON t.id = bt.topic_id
        WHERE bt.book_id = #{bookId}
        AND bt.is_deleted = 0
        AND t.parent_id = 0
        AND t.level >= 100
    </select>
</mapper> 